# temporary files
*~
*.swp
*.*-swp

# latex trash and temp files
*.aux
*.aux
*.log
*.nav
*.out
*.snm
*.toc

# office files
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx

# mac trash
.DS_Store

# linux trash
*.lock
